@charset "utf-8";

body{
	margin:0;
	padding:0;
	font-family: Dancing Script;

}


/*************CLASES*******/
.contenedor{
	width:900px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: auto;
}

.encabezado,.abajo,.pie{
	margin: auto;
	width: 100%;
}

.encabezado{
	background-color: #5b7989;
	height: 65px;
	font-family: Dancing Script;
	color: white;
	padding-top:2vh;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}



.abajo{
	background-color:#d5c75f;
	height: 350px;

}

.pie{
	background-color: #C6d5c5;
	height: 180px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
/*PERSONALIZACION DE ENCABEZADO*/
nav{
	float: right;
	padding-right: 3vh;
	padding-top: 2vh;
}
nav > a{
	padding:5px;
	text-decoration: none;
	font-family: Dancing Script;
	color: white;
}

.encabezado h1{
	font-size:5vh;
	display: inline;
	padding-left: 2vh;
	-webkit-filter:drop-shadow(1px 2px 3px #02010a);
	filter: drop-shadow(1px 2px 3px #02010a);
}



/*PERSONALIZACION DE ABAJO*/
.abajojefe{
	width:100%;
	height:50%;
	display: flex;
	padding-top:5px;
	flex-direction: row;
	flex-wrap: nowrap;
}

.abajosubjefe{
	width:100%;
	height:50%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#abajo1{
	width: 33%;
	padding-left: 2px;
	padding-top: 2px;
	text-align: center;
}

#abajo2{
	width: 33%;
	padding-left: 2px;
	padding-top: 2px;
	text-align: center;
	filter: grayscale(100%);
}

#abajo3{
	width: 33%;
	padding-left: 2px;
	padding-top: 2px;
	text-align: center;
}

#abajo4{
	width: 33%;
	padding-left: 2px;
	padding-top: 2px;
	text-align: center;
}

#abajo5{
	width: 33%;
	padding-left: 2px;
	padding-top: 2px;
	text-align: center;
}

#abajo6{
	width: 33%;
	padding-left: 2px;
	padding-top: 2px;
	text-align: center;
}



#abajo1>img[src$='jpg']{
	width: 80%;
	height: 80%;
	border: 2px solid black;
	-webkit-filter: drop-shadow(5px 6px 7px #82c3a6 );
	filter: drop-shadow(5px 6px 7px #82c3a6 );

}


#abajo2>img[src$='jpg']{
	width: 80%;
	height: 80%;
	border: 2px solid black;
	-webkit-filter: drop-shadow(5px 6px 7px #82c3a6 );
	filter: drop-shadow(5px 6px 7px #82c3a6 );
}

#abajo3>img[src$='jpg']{
	width: 80%;
	height: 80%;
	border: 2px solid black;
	-webkit-filter: drop-shadow(5px 6px 7px #82c3a6 );
	filter: drop-shadow(5px 6px 7px #82c3a6 );
}

#abajo4>img[src$='jpg']{
	width: 80%;
	height: 80%;
	border: 2px solid black;
	-webkit-filter: drop-shadow(5px 6px 7px #82c3a6 );
	filter: drop-shadow(5px 6px 7px #82c3a6 );
}

#abajo5>img[src$='jpg']{
	width: 80%;
	height: 80%;
	border: 2px solid black;
	-webkit-filter: drop-shadow(5px 6px 7px #82c3a6 );
	filter: drop-shadow(5px 6px 7px #82c3a6 );
}

#abajo6>img[src$='jpg']{
	width: 80%;
	height: 80%;
	border: 2px solid black;
	-webkit-filter: drop-shadow(5px 6px 7px #82c3a6 );
	filter: drop-shadow(5px 6px 7px #82c3a6 );
}

/*Efecto a numeros pares de los hijos de abajo osea abajo jefe y subjefe*/

.abajo .abajojefe>article:nth-child(even){
	filter: grayscale(100%);
}

.abajo .abajosubjefe>article:nth-child(even){
	filter: grayscale(100%);
}

.abajo .abajojefe>article:nth-child(odd){
	filter: sepia(90%);
}

.abajo .abajosubjefe>article:nth-child(odd){
	filter: sepia(90%);
}





/****PIE DE PAGINA****/

#contacto,#terminos,#redes_Sociales,#derechos{
	width: 25%;
}

#contacto > ul>li{
	list-style: none;
	padding-bottom: 2vh;
}

#contacto>ul>li:nth-child(1){
	font-size: 5vh;

}

#terminos > ul>li{
	list-style: none;
	padding-bottom: 2vh;
}

#terminos>ul>li:nth-child(1){
	font-size: 5vh;

}


#redes_Sociales > ul>li{
	list-style: none;
	padding-bottom: 2vh;
}

#redes_Sociales>ul>li:nth-child(1){
	font-size: 5vh;

}

#redes_Sociales>ul>li:nth-child(2)>img[src$='ico']{
	width: 10%;
	padding-right: 3px;
}

#redes_Sociales>ul>li:nth-child(3)>img[src$='png']{
	width: 10%;
	padding-right: 3px;
}

#redes_Sociales>ul>li:nth-child(4)>img[src$='png']{
	width: 10%;
	padding-right: 3px;
}


#derechos{
	padding-right: 4px;
}
#derechos > ul>li{
	list-style: none;
	padding-bottom: 2vh;
}

#derechos>ul>li:nth-child(1){
	font-size: 5vh;

}



/********PATRON DE DISEÑO***********/



@media all and (max-width:900px) and (min-width:200px)
{

.contenedor{
	width:100%;
}

.encabezado{
	width: 100%;
	text-align: center;
	flex-direction: column;
	flex-wrap: nowrap;
}



.abajo{
	width: 100%;
	text-align: center;
	flex-direction: column;
	flex-wrap: nowrap;
}

.pie{
	width: 100%;
	height: 100%;
	text-align: center;
	flex-direction: column;
	flex-wrap: nowrap;
}
/*Personalizacio de encabezado*/
.encabezado>h1{
	width: 100%;
	height: 50%;
}

.encabezado>nav{
	width: 100%;
	height: 50%;
}


/*Personalizacion de abajo*/
#abajo1{
	width: 100%;
	height: 50%;
}

#abajo2{
	width: 100%;
	height: 50%;
}

/*Personalizacion de pie*/
#contacto{
	width: 100%;
	order: 1;
}

#terminos{
	width: 100%;
	order: 2;
}

#redes_Sociales{
	width: 100%;
	order: 3;
}

#derechos{
	width: 100%;
	order: 4;
}

}


@media all and (max-width:900px) and (min-width:200px){

.contenedor{
	width:100%;
}

.encabezado{
	width: 100%;
	text-align: center;
	flex-direction: column;
	flex-wrap: nowrap;
}

.abajo{
	width: 100%;
	height: 50%;


}

.pie{
	width: 100%;
	height: 100%;
	text-align: center;
	flex-direction: column;
	flex-wrap: nowrap;
}

/*Personalizacio de encabezado*/
.encabezado>h1{
	width: 100%;
	height: 50%;
}

.encabezado>nav{
	width: 100%;
	height: 50%;
}

/*personalizacion de hijos de abajo*/
.abajojefe{
	width: 100%;
	height: 50%;
	text-align: center;
	flex-direction: column;
	flex-wrap: nowrap;
}

#abajo1{
	width: 100%;
	height: 16%;
	text-align: center;
	order: 1;
}

#abajo2{
	width: 100%;
	height: 16%;
	order: 2;
}
#abajo3{
	width: 100%;
	height: 16%;
	order: 3;
}


.abajosubjefe{
	width: 100%;
	height: 50%;
	flex-direction: column;
	flex-wrap: nowrap;
}

#abajo4{
	width: 100%;
	height: 16%;
	order: 1;
}

#abajo5{
	width: 100%;
	height: 16%;
	order: 2;
}
#abajo6{
	width: 100%;
	height: 16%;
	order: 3;
}


/*Personalizacion de pie*/
#contacto{
	width: 100%;
	order: 1;
}

#terminos{
	width: 100%;
	order: 2;
}

#redes_Sociales{
	width: 100%;
	order: 3;
}

#derechos{
	width: 100%;
	order: 4;
}







}

